.navbar-main-container {
  padding: 24px;

  h1 {
    font-size: larger;
  }

  .logo-div {
    display: flex;
    align-items: center;
  }

  .logo-img {
    width: 26px;
    height: 26px;
    margin-right: 4px;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
