.addExpensesDrawer-main-container {
}

.addExpensesDrawer-main-container .addExpensesDrawer-button {
  position: absolute;
  bottom: 0;
  right: 0;
}

.addExpensesDrawer-main-container .addExpensesDrawer-icon {
  color: black;
  font-size: 3rem;
}
