.addExpenses {
  .expense-description-input,
  .amount-spent-input {
    margin-top: 0.5rem;

    input {
      padding: 1rem 0;
    }
  }

  .amount-helper-text {
    line-height: 1.45;
  }

  .categories-button-group {
    margin-top: 0.5rem;
  }

  .category-button {
    margin: 0.2rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 4px -2px;
  }

  .filled-button {
    background: whitesmoke;
    color: black;
  }

  .outlined-button {
    border: 1px solid;
  }

  .selected-category-button,
  .selected-category-button:hover {
    background: black;
    color: white;
  }
}
