.display-flex {
  display: flex;
}

.display-none {
  display: none;
}

.justify-content_center {
  justify-content: center;
}

.justify-content_end {
  justify-content: end;
}

.justify-content_space-between {
  justify-content: space-between;
}

.align-items_baseline {
  align-items: baseline;
}

.align-items_center {
  align-items: center;
}

.align-items_right {
  align-items: flex-end;
}

.text-align_center {
  text-align: center;
}

.text-align_right {
  text-align: right;
}

.float-right {
  float: right;
}
