.signup {
  margin: 0 1.5rem;
  height: 100vh;

  .loading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .MuiOutlinedInput-root {
    border-radius: 0.5rem;
  }

  .auth-btn {
    background: whitesmoke;
    padding: 0.5rem 2rem;

    img {
      width: 2rem;
      margin-right: 0.5rem;
    }
  }
}
